@using Microsoft.AspNet.Identity
@{
    var ulClasses = "nav navbar-nav navbar-right";
    var ulStyle = "height: 50px;";
}
@if (Request.IsAuthenticated)
{
    <ul class="@ulClasses" style="@ulStyle">
        <li>
            <label class="navbar-text">
                <span class="glyphicon glyphicon-user"></span>
                @User.Identity.GetUserName()
            </label>
        </li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
            {
                <button type="submit" class="btn btn-default navbar-btn control-level-permission" form="logoutForm">
                    <span>Log Off</span>
                    <span class="glyphicon glyphicon-log-out" style="margin-left: 4px;"></span>
                </button>
            }
        </li>
    </ul>
}
else
{
    <ul class="@ulClasses" style="@ulStyle">
        <li>
            <button type="button" class="btn btn-default navbar-btn control-level-permission" onclick="window.location='@Url.Action("Login", "Account", routeValues: null)';">
                <span class="glyphicon glyphicon-log-in" style="margin-right: 4px;"></span>
                <span>Log In</span>
            </button>
        </li>
    </ul>
}
